@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #5a5858;
  border-radius: 8px;
  min-height: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #5041a2;
}

* {
  font-family: "DM Sans", sans-serif;
}

.card1 {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12) !important;
  /* cursor: pointer; */
  margin-bottom: 20px !important;
  /* width: 28.75vw; */
}

.card1:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
